support-automation/Knowledge_Base.json
{
  "name": "Knowledge Base",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -520,
        1280
      ],
      "id": "34c9c9b8-9cc1-4b07-a746-758c598443d9",
      "name": "Start Process"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        300,
        720
      ],
      "id": "aa346402-fc35-4dff-87e9-b8d187dd918b",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "BHXusSEU10unDNKa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "f4g_vectors_docs",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.1,
      "position": [
        300,
        460
      ],
      "id": "f44c414a-949c-476a-9358-d198d7350d05",
      "name": "PGVector Store",
      "credentials": {
        "postgres": {
          "id": "oHM829iBP7fNgt5E",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        460,
        640
      ],
      "id": "fab30dc3-7463-436c-98e7-2300f442d351",
      "name": "Data Loader"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        480,
        780
      ],
      "id": "142fe064-7be5-426e-8828-67034bdde830",
      "name": "Token Splitter"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "cssSelector": "article"
            }
          ]
        },
        "options": {
          "trimValues": "={{ true }}",
          "cleanUpText": true
        }
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        940,
        240
      ],
      "id": "b6703863-a76e-4145-805b-4ee81cb37692",
      "name": "HTML"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1120,
        240
      ],
      "id": "dc171467-7afb-4386-a9f7-1e2b96934232",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldToSplitOut": "urls",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        520,
        240
      ],
      "id": "6fcb1dbc-a88c-4472-9dd3-5a59df7bf47b",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {}
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        240
      ],
      "id": "24f7c0c7-bf74-46b7-83f6-fe1827c2523b",
      "name": "Get Docs"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "f4g_vectors_docs",
          "mode": "list",
          "cachedResultName": "f4g_vectors_docs"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1360,
        240
      ],
      "id": "22efc0e2-780c-4aeb-a6d5-339e3f402421",
      "name": "CleanUp - Vectors",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "oHM829iBP7fNgt5E",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Get Docs",
        "height": 720,
        "width": 1340,
        "color": 5
      },
      "id": "45e9b311-dde2-456c-a749-3fce4c23e5b2",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        180,
        180
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        500,
        1520
      ],
      "id": "58f8c5b8-9ac3-4047-b939-0f14e7c4c766",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "BHXusSEU10unDNKa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "f4g_vectors_releases",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.1,
      "position": [
        500,
        1260
      ],
      "id": "d8ac5630-50d8-4a67-9347-67a78dc8cc48",
      "name": "PGVector Store1",
      "credentials": {
        "postgres": {
          "id": "oHM829iBP7fNgt5E",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        720,
        1440
      ],
      "id": "3272ee89-fdae-4f11-ad2a-fa334c89f292",
      "name": "Data Loader1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        640,
        1540
      ],
      "id": "4733101b-33c4-40ac-8b59-4700aa14887b",
      "name": "Token Splitter1"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "cssSelector": "article"
            }
          ]
        },
        "options": {
          "trimValues": "={{ true }}",
          "cleanUpText": true
        }
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        940,
        1040
      ],
      "id": "2c6080e6-2a1d-45d6-95d5-7b488ad092f0",
      "name": "HTML1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1120,
        1040
      ],
      "id": "2578261a-00c6-4ea0-acbd-cef36fcce525",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "urls",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        560,
        1040
      ],
      "id": "b731b002-9d78-4181-bbab-7bf5f731e447",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {}
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        1040
      ],
      "id": "5c6ab9a9-8a63-4a26-bd75-58efbecb04d5",
      "name": "Get Docs1"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "f4g_vectors_releases",
          "mode": "list",
          "cachedResultName": "f4g_vectors_releases"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1340,
        1040
      ],
      "id": "c522dd35-738f-4e76-afcb-76f3f09b41dd",
      "name": "CleanUp - Vectors1",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "oHM829iBP7fNgt5E",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Get Releases",
        "height": 720,
        "width": 1340,
        "color": 5
      },
      "id": "834319e3-e434-40ec-9aa8-cd9e071ed3eb",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        180,
        960
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        840,
        2280
      ],
      "id": "38b6a5f1-11e3-4a5c-a693-f0f80f6a0b8f",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "BHXusSEU10unDNKa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "f4g_vectors_machine_docs",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.1,
      "position": [
        960,
        2020
      ],
      "id": "f6a34054-63a2-40dd-8266-ac08a1175158",
      "name": "PGVector Store2",
      "credentials": {
        "postgres": {
          "id": "oHM829iBP7fNgt5E",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "manufacturer",
                "value": "={{ $('Extract Information').first().json.manufacturer }}"
              },
              {
                "name": "models",
                "value": "={{ $('Extract Information').first().json.models }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1060,
        2220
      ],
      "id": "1afc699f-932e-4851-b91c-dc9307118722",
      "name": "Data Loader2"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "f4g_vectors_machine_docs",
          "mode": "list",
          "cachedResultName": "f4g_vectors_machine_docs"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1320,
        1760
      ],
      "id": "643bd7cc-4e77-4124-80c9-0f2db28d9ee9",
      "name": "CleanUp - Vectors2",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "oHM829iBP7fNgt5E",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Get Machine Docs",
        "height": 720,
        "width": 1340,
        "color": 5
      },
      "id": "623e4d79-c48e-4ff7-afa9-2013c74dbd4f",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        1740
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        460,
        1980
      ],
      "id": "0d4479e3-557c-43af-be57-63c1559b3443",
      "name": "Get Content",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bcdWBX9CdY1Ym0hY",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        640,
        1980
      ],
      "id": "65679ccc-6d79-4d03-bea6-325943aeca80",
      "name": "Loop"
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        980,
        2340
      ],
      "id": "446fcf8a-b540-4de9-b869-be6b8cc41f57",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{ \"urls\":  [\n  { \"url\": \"https://doc.interlis.com.br/interlis/documentacao/solicitacao/guia_criar_solicitacao/\" },\n  { \"url\": \"https://doc.interlis.com.br/interlis/documentacao/solicitacao/cadastro-rapido-paciente/\" },  \n  { \"url\": \"https://doc.interlis.com.br/interlis/documentacao/dashboard/\" },\n  { \"url\": \"https://doc.interlis.com.br/interlis/documentacao/gerenciamento/gerenciamento-visao-geral/\" },\n  { \"url\": \"https://doc.interlis.com.br/interlis/documentacao/gerenciamento/usuario/cadastro/\" },\n  { \"url\": \"https://doc.interlis.com.br/interlis/documentacao/gerenciamento/usuario/perfil/\" },\n  { \"url\": \"https://doc.interlis.com.br/interlis/documentacao/faq-problemas-frequentes/\" }\n]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        300,
        240
      ],
      "id": "fb19ff13-0387-4b7a-a162-bb1cf20601c7",
      "name": "Documentation List"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{ \"urls\":  [\n  { \"url\": \"https://help.f4g.com.br/interlis/historico_de_versoes/\" },\n  { \"url\": \"https://help.f4g.com.br/meuexame/historico_de_versoes/\" }\n]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        300,
        1040
      ],
      "id": "97e48cbe-6953-417c-8bb9-047a873f295b",
      "name": "Release Pages List"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1_3Ei1OSBS9eI9Q4-4neHARqhgGLfX3ZU",
            "mode": "list",
            "cachedResultName": "documentacao-maquinas-labs",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1_3Ei1OSBS9eI9Q4-4neHARqhgGLfX3ZU"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        260,
        1980
      ],
      "id": "91865802-fb28-4a7a-a83f-70d7d7e00482",
      "name": "Machine Doc File List",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bcdWBX9CdY1Ym0hY",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "714eb29a-0ada-4a20-a47a-680a037853c9",
              "name": "=manufacturer",
              "value": "={{ $json.name.split('__')[0] }}",
              "type": "string"
            },
            {
              "id": "d7761bc4-94d3-474a-be11-12c56347fcc2",
              "name": "models",
              "value": "={{ $json.name.split('__')[1].replace('.pdf', '').split('_') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        940,
        1860
      ],
      "id": "11c69713-52db-488d-abe1-389e34670711",
      "name": "Extract Information"
    }
  ],
  "pinData": {},
  "connections": {
    "Start Process": {
      "main": [
        [
          {
            "node": "Machine Doc File List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Data Loader": {
      "ai_document": [
        [
          {
            "node": "PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "PGVector Store",
            "type": "main",
            "index": 0
          },
          {
            "node": "CleanUp - Vectors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Get Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Docs": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "PGVector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Data Loader1": {
      "ai_document": [
        [
          {
            "node": "PGVector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "PGVector Store1",
            "type": "main",
            "index": 0
          },
          {
            "node": "CleanUp - Vectors1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Get Docs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Docs1": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "PGVector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Data Loader2": {
      "ai_document": [
        [
          {
            "node": "PGVector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Get Content": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop": {
      "main": [
        [],
        [
          {
            "node": "PGVector Store2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Data Loader2",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Documentation List": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Release Pages List": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Machine Doc File List": {
      "main": [
        [
          {
            "node": "Get Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Information": {
      "main": [
        []
      ]
    },
    "PGVector Store2": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "679525ef-b950-4ede-881a-c4963795dd7d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "680b771266285e0b2805aa12c56e24ddd5aa291181c2c29d2ca50bff81261932"
  },
  "id": "2tQDf3kThK4oS1yM",
  "tags": []
}